{% extends 'base.html' %}

{% block content %}
    {% if data.dir %}
    <!-- Esse trecho tem como objetivo receber o diretório enviado pelo back e atraves do js disponibilizar para download  -->
    <h1 hidden id="dir">{{data.dir}}</h1>
    {% endif %}

    
    <div id="body" class="row d-flex flex-column align-items-center">
        <h1 id="inv" class="text-center">
            Clique aqui para ver a sua VSL
        </h1>

        <a id="ancora" href="" onclick="delet()" download class="btn bt-lj mt-3">
           <p class="fwButton mb-0 ">DOWNLOAD</p> 
        </a>
    </div>

    <div id="load" class="spinner hidden inv">
        <div class="circle"></div>
    </div>

{% endblock %}
