{% extends 'base.html' %}


{% block content %}

<div id="quiz" class="carousel slide my-5">
    <div class="row my-5 mx-3">
        <div class="col-12 d-flex justify-content-center align-items-center rounded-4 bg-quiz p-2">
            <h4 class="reset text-uppercase">Responda o quiz abaixo</h4>
        </div>
    </div>
    <div class="carousel-inner px-3">
        <div class="carousel-item active">
            <div class="row gap-1">
                <!-- Quest -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center">Tem acesso a Super band?</h3>
                </div>
                <!-- Yes -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="superband" id="radio1Quiz1" value="true">
                        <label class="form-check-label" for="radio2Quiz1">
                            Sim
                        </label>
                    </div>
                </div>
                <!-- No -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="superband" id="radio2Quiz1" value="false">
                        <label class="form-check-label" for="radio2Quiz1">
                            Não
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="row gap-1">
                <!-- Quest -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center">Tem acesso a barras paralelas altas de 80cm de altura?</h3>
                </div>
                <!-- Yes -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="paralelas" id="radio1Quiz2" value="true">
                        <label class="form-check-label" for="radio1Quiz2">
                            Sim
                        </label>
                    </div>
                </div>
                <!-- No -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="paralelas" id="radio2Quiz2" value="false">
                        <label class="form-check-label" for="radio2Quiz2">
                            Não
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="row gap-1">
                <!-- Quest -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center">Tem acesso a barra fixa (de parede, porta ou fixa no chão)?</h3>
                </div>
                <!-- Yes -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="barraFixa" id="radio1Quiz3" value="true">
                        <label class="form-check-label" for="radio1Quiz3">
                            Sim
                        </label>
                    </div>
                </div>
                <!-- No -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="barraFixa" id="radio2Quiz3" value="false">
                        <label class="form-check-label" for="radio2Quiz3">
                            Não
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="row gap-1">
                <!-- Quest -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center">Tem acesso a argolas?</h3>
                </div>
                <!-- Yes -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="argolas" id="radio1Quiz4" value="true">
                        <label class="form-check-label" for="radio1Quiz4">
                            Sim
                        </label>
                    </div>
                </div>
                <!-- No -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="argolas" id="radio2Quiz4" value="false">
                        <label class="form-check-label" for="radio2Quiz4">
                            Não
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="row gap-1">
                <!-- Quest -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center">Tem acesso a TRX?</h3>
                </div>
                <!-- Yes -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="trx" id="radio1Quiz5" value="true">
                        <label class="form-check-label" for="radio1Quiz5">
                            Sim
                        </label>
                    </div>
                </div>
                <!-- No -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="trx" id="radio2Quiz5" value="false">
                        <label class="form-check-label" for="radio2Quiz5">
                            Não
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="row gap-1">
                <!-- Quest -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center">Quantos dias da semana você tem disponíveis para treinar?</h3>
                </div>
                <!-- 3 -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="qtdTreino" id="radio1Quiz6" value="3">
                        <label class="form-check-label" for="radio1Quiz6">
                            3 Dias
                        </label>
                    </div>
                </div>
                <!-- 4 -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="qtdTreino" id="radio2Quiz6" value="4">
                        <label class="form-check-label" for="radio2Quiz6">
                            4 dias
                        </label>
                    </div>
                </div>
                 <!-- 5 -->
                 <div class="col-12 d-flex flex-column justify-content-center align-items-start bg-gray rounded-2 p-1">
                    <div class="form-check form-check-square">
                        <input class="form-check-input" type="radio" name="qtdTreino" id="radio3Quiz5" value="5">
                        <label class="form-check-label" for="radio3Quiz5">
                            5 Dias
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel-item">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Quanto tempo em cada dia?</h3>
                </div>
                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <select id="hours" class="form-select" aria-label="Default select example">
                        <option selected>Horas</option>
                        <option value="1">1 Hora</option>
                        <option value="2">2 Horas</option>
                        <option value="3">3 Horas</option>
                        <option value="4">4 Horas</option>
                    </select>



                    <!-- <div class="form-check">
                        <input class="form-check-input" type="radio" name="quiz7" id="radio1Quiz7" value="true">
                        <input class="form-check-input" type="radio" name="quiz7" id="radio1Quiz7" value="true">
                        <label class="form-check-label" for="radio1Quiz7">
                            SIM
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="quiz7" id="radio2Quiz7" value="false ">
                        <label class="form-check-label" for="radio2Quiz7">
                           NÂO
                        </label>
                    </div> -->
                </div>
                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <select id="min" class="form-select" aria-label="Default select example">
                        <option selected>Min.</option>
                        <option value="10">10 Min</option>
                        <option value="15">15 Min</option>
                        <option value="20">20 Min</option>
                        <option value="25">25 Min</option>
                        <option value="30">30 Min</option>
                        <option value="35">35 Min</option>
                        <option value="40">40 Min</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#quiz" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#quiz" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button> -->
</div>

<div id="msgErr" class="row d-none my-5">
    <div class="col-12">
        Ops, verificamos que você não tem o <span class="reset text-danger"> equipamento necessário. </span>Sugerimos
        que gere o treino pela opção de musculação ou comprar os equipamentos minimos!
    </div>
</div>

<div id="div2" class="row d-none mt-5 rounded-3 d-flex justify-content-center align-content-center ">

    <div class="col-12">
        <h1 class="reset text-center">Crie seu treino</h1>
        <h3 class="reset text-center">Com o peso do corpo</h3>
    </div>

    <div class="col-12 p-3 d-flex flex-column">
        <span class="text-center">Utilize esse treino pronto para saber seu nivel.</span>
        <span class="text-center">Faça o maximo de repetições que conseguir fazer</span>
        <span class="text-center">E adicione as informações abaixo</span>
    </div>

    <!-- <div id="exer1" class="col-lg-5 position-relative col-11 d-flex justify-content-center align-items-center rounded-3 p-2 m-2 bg-white" style="border: 1px solid rgb(163, 163, 163);">

        <div class="row position-relative">
            
            <div class="col-3 d-flex justify-content-center align-items-center">
                <img class="rounded-4" id="img1" width="68" height="68"
                    src="https://aprovataf.com.br/wp-content/uploads/2016/04/Flex%C3%A3o-de-bra%C3%A7o-no-solo-AprovaTAF.jpg"
                    alt="">
            </div>

            <div class="col-9 d-flex align-items-center ps-3 pe-5" >
                <div class="row" >
                    <div class="col-12 reset-Padding">
                        <span class="reset text-uppercase" style="font-size: 18px;">Nome do exercicio 
                            exercicio</span>
                    </div>

                    <div class="col-4 d-flex flex-column justify-content-center align-items-start my-2 reset-Padding">
                        <p class="reset text-uppercase text-gray1">SÉRIE</p>
                        <input class="w-75 text-center rounded-3" type="text" placeholder="1" disabled>
                    </div>

                    <div class="col-4 d-flex flex-column justify-content-center align-items-center reset-Padding">
                        <p id="rept1" class="reset text-uppercase text-gray1">REPS</p>
                        <input required="true" id="ValidExer1" class=" w-75 input-value text-center rounded-3"
                            type="text">
                    </div>

                    <div class="col-4 d-flex flex-column justify-content-center align-items-end reset-Padding">
                        <p  class="reset text-uppercase text-gray1">RESET</p>
                        <input required="true" disabled placeholder="3min"
                            class="w-75 input-value text-center rounded-3" type="text">
                    </div>
                </div>
                
                <i class="bi bi-three-dots-vertical position-absolute top-0 end-0 "></i>
            </div>
            
            <div id="toggleExer1" class="col-12 d-none d-flex flex-column justify-content-center">
                <button id="btn1" onclick="filter(1, 'Push', 'Horizontal')" class="btn btn-primary w-100" type="button">Trocar Exercicío</button>

                <span id="heavy1" class="reset text-center d-none" style="font-size: 10px;">
                    *Ops, sua quantidade de repetição está baixa! Vamos trocar para um mais leve?
                </span>

                <span id="light1" class="reset text-center d-none" style="font-size: 10px;">
                    *Ops, sua quantidade de repetição está alta! Vamos trocar para um mais pesado?
                </span> 

                <span id="success1" class="reset text-center text-success d-none" style="font-size: 10px;">
                    Perfeito, podemos prosseguir!
                </span> 
            </div>
        </div>
    </div> -->

    <!-- <div id="exer1" class="col-lg-5 col-11 position-relative rounded-3 m-2 bg-white"
        style="border: 1px solid rgb(20, 20, 20);">
        <div class="row reset-Padding h-100">
            <div class="col-6 d-flex justify-content-center img-card reset-Padding"><img
                    class="img-fluid img-resolution" id="img1" width="150" height="150"
                    src="https://aprovataf.com.br/wp-content/uploads/2016/04/Flex%C3%A3o-de-bra%C3%A7o-no-solo-AprovaTAF.jpg"
                    alt=""></div>
            <div class="col-6 d-flex flex-column justify-content-around align-items-start reset-Padding"
                style="height: 200px;">
                <div style="width: fit-content;">
                    <h6 class="reset text-start" id="category1">(Push Horizontal)</h6>
                    <h5 class="reset text-start text-uppercase" id="ValidTitle1">Flexões
                        Padrão</h5>
                </div>
                <div class="d-flex flex-column align-items-start justify-content-start">
                    <span>Num. maximo de repet.</span>
                    <input id="ValidExer1" class="input-exer text-start" type="number"
                        required="true">
                </div>
            </div>
            <div id="toggleExer1" class="d-none mb-4"><button id="btn1"
                    onclick="filter(1, 'Push', 'Horizontal')" class="btn btn-primary"
                    type="button">Trocar Exercicío</button></div>
        </div>
    </div> -->

    <!-- Sugestões de troca -->
    <!-- <div class="row d-none d-flex justify-content-center toggle-exer" > -->
    <!-- <div class="col-12 d-flex justify-content-between mb-5"
            style="border-bottom: 1px solid rgb(20, 20, 20); height: 30px !important;">


            <h4 class="mb-0">Sugestão de troca</h4>
            <i class="bi bi-x-lg "
                style="color:black; font-size: large; right: 0; cursor: pointer;"
                onclick="closer()"></i>
        </div>

        <div class=" col-6 rounded-3 bg-white my-5" style="border: 1px solid rgb(20, 20, 20);">

            <h3 class="reset" id="ValidTitle8">name</h3>
            <h4>category</h4>
            <div class="d-flex justify-content-center">
                <img width="150px" height="150px"
                    src="https://cdn.w600.comps.canstockphoto.com.br/trabalhando-dela-joelho-femininas-vetor-clip-arte_csp89802369.jpg">
            </div>
            <button onclick="subs(8, 'name', 'category', 'img')"
                class="btn btn-primary mt-2">Trocar</button>
        </div>  -->
    <!-- </div> -->



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Sugestão de troca</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body" id="divToggle">

                    <!-- <div class="row reset-Padding my-3">
                        <div class="col-5 reset-Padding d-flex justify-content-center align-items-center">
                            <img width="125" height="125"
                                src="https://cdn.w600.comps.canstockphoto.com.br/trabalhando-dela-joelho-femininas-vetor-clip-arte_csp89802369.jpg">
                        </div>

                        <div class="col-7 d-flex align-items-center reset-Padding">
                            <div class="row reset-Padding">
                                <div class="col-12 d-flex justify-content-start align-items-center reset-Padding">
                                    <span class="reset">Knee Push Ups (de joelho)</span>
                                </div>

                                <div class="col-12 d-flex justify-content-start align-items-center reset-Padding">
                                    <span class="reset">(Push Horizontal)</span>
                                </div>

                                <div class="col-12 d-flex justify-content-center align-items-center reset-Padding W-100">
                                    <button class="btn btn-primary mt-2 " data-bs-dismiss="modal" style="width: 100%;">Trocar</button>
                                </div>
                            </div>
                        </div>

                    </div>  -->

                </div>
            </div>
        </div>
    </div>

</div>

<div id="btnGera" class="row d-none my-4">
    <!-- <div class="col-12 d-flex justify-content-center align-items-center">
        <button type="button" id="saveTraining" onclick="enviarTreino()" class="btn btn-primary">Gerar Treino</button>
    </div> -->

    <!-- <form id="form-treino" method="POST" action="/teste">
        <input class="d-none" id="check" type="button"  name="treino" value="{{treino}}">
        <button type="submit" class="btn btn-primary">Enviar Treino</button>
    </form>  -->

    <!-- <form method="POST" action="/teste">
        <input type="hidden" name="try" value="{{treino}}">
        <button type="submit">Enviar</button>
    </form> -->


    <button type="button" class="btn btn-primary" onclick="enviarTreino2()">Gerar Treino</button>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: false // Desativa a mudança automática de slides
        });
        
        $('input[type=radio]').change(function () {
            $('.carousel').carousel('next'); // Avança para o próximo slide
        });
    });
</script> -->

<script>
    var requireds = []

    // Obtém o elemento do carrossel e seus itens internos
    const quizCarousel = document.querySelector('#quiz');
    const quizItems = quizCarousel.querySelectorAll('.carousel-item');
    const hours = document.getElementById('hours')
    const min = document.getElementById('min')

    // Percorre cada item do quiz e adiciona um evento de clique em seus inputs de opção
    quizItems.forEach(item => {
        const optionInputs = item.querySelectorAll('.form-check-input');
        optionInputs.forEach((input) => {
            input.addEventListener('click', () => {
                // quizCarousel.next();
                const name = input.name
                const value = input.value
                var newData = { name: name, value: value }
                requireds.push(newData)

                $('input[type=radio]').change(function () {
                    $('.carousel').carousel('next'); // Avança para o próximo slide
                });
            });
        });
    });

    hours.addEventListener('change', function () {
        var newData = { hours: hours.value }
        requireds.push(newData)

        //Da um filter no array em busca dos minutos
        var find = requireds.filter(e => e.min != 'Min.')

        // Se não tiver minutos no arrai nao cria os exercicios
        if (find.length >= 8) {
            console.log(requireds)
            // creatExercisesBase()
            verificationRequireds()
        }
    })

    min.addEventListener('change', function () {
        var newData = { min: min.value }
        requireds.push(newData)

        var find = requireds.filter(e => e.hours != 'horas')
        if (find.length >= 8) {
            console.log(requireds)

            verificationRequireds()

            // creatExercisesBase()
        }


    })

    function verificationRequireds() {
        var superband = requireds.filter(e => e.name == 'superband')[0].value
        var paralelas = requireds.filter(e => e.name == 'paralelas')[0].value
        var barraFixa = requireds.filter(e => e.name == 'barraFixa')[0].value
        var argolas = requireds.filter(e => e.name == 'argolas')[0].value
        var trx = requireds.filter(e => e.name == 'trx')[0].value
        var qtdTreino = parseInt(requireds.filter(e => e.name == 'qtdTreino')[0].value)
        var horas = requireds.filter(e => e.name == 'hours')[0]
        var min = requireds.filter(e => e.name == 'min')[0]



        if (paralelas == 'false' && barraFixa == 'false' && argolas == 'false' && trx == 'false') {
            const quiz = document.getElementById('quiz')
            quiz.classList.add('d-none')

            const divErr = document.getElementById('msgErr')
            divErr.classList.remove('d-none')
        }
    }



    // Desativa a rotação automática do carrossel
    quizCarousel.setAttribute('data-bs-interval', 'false');
</script>

{% endblock %}