{% extends 'base.html' %}

{% block content %}
    <div class="row m-3 d-flex flex-column align-items-center">
        <div class="col-12 ">
            {% if data.msgTrue %}
                <div id="msg_valided" class="alert text-center alert-success" role="alert">
                    {{data.msgTrue}}
                </div>
            {% endif %}
            {% if data.msgFalse %}
                <div id="msg_valided" class="alert text-center alert-danger" role="alert">
                    {{data.msgFalse}}
                </div>
            {% endif %}


            <h1 class="text-center">Altere a sua senha</h1>
        </div>

        <div class="col-8 text-center w-75">
            <form action="/togglePassword" method="POST" class="needs-validation" novalidate>
                <input 
                    type="text" 
                    name=oldPassword 
                    id="oldPassword"
                    class="form-control mb-1 text-center input" 
                    placeholder="Digite seu senha atual" 
                    required
                    autofocus
                >
                <input 
                    type="text" 
                    name=newPassword 
                    id="newPassword"
                    class="form-control mb-1 text-center input" 
                    placeholder="Digite seu senha nova" 
                    required
                    autofocus
                >
                <input 
                    type="text" 
                    name=passwordConfirmation 
                    id="passwordConfirmation"
                    class="form-control mb-1 text-center input" 
                    placeholder="Confirme a sua senha" 
                    required
                    autofocus
                >
                <div class="invalid-feedback text-center">
                    Digite os campos obrigatórios.
                </div>
                
                <button
                    class="w-75 btn btn-outline orange mt-2 btn_resp"
                    type="submit"
                >
                    Enviar
                </button>
                

            </form>
        </div>

    </div>


    <script>
        // VALIDAÇÂO FORM
        (function() {
              'use strict';
              window.addEventListener('load', function() {
                // Pega todos os formulários que nós queremos aplicar estilos de validação Bootstrap personalizados.
                var forms = document.getElementsByClassName('needs-validation');
                // Faz um loop neles e evita o envio
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();
    
    
        //TEMPO DE MSG
        setTimeout(function () {
        document.getElementById("msg_valided").style.display = "none";
        }, 10000);
    </script>
{% endblock %}

