{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <i class="bi bi-emoji-frown" style="font-size: 100px;"></i>
    </div>

    <div  class="alert alert-danger col-12 text-center"
        role="alert">
        <h4 class="fw-300">Algo deu errado, pera ai vamos ver se não foi erro do estágiario</h4>
    </div>

    <div style="max-width: 600px; margin: 30px auto;" 
    class="col-12 d-flex justify-content-center" data-aos="fade-up">
        
        <a class="w-50 btn btn-simple" href="/signature">
            Clique para tentar novamente 
        </a>
    </div>
</div>
{% endblock %}