{% extends 'base.html' %}

{% block content %}
    
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <i class="bi bi-check2-circle" style="font-size: 100px;"></i>
        </div>

        <div  class="col-12 text-center">
            {% if data.msgFalse %}
                <h4 id="msg_valided fw-300" class="alert alert-danger text-center">{{data.msgFalse}}</h4>
            {% endif %}
            {% if data.msgTrue %}
                <h4 id="msg_valided fw-300" class="alert alert-success text-center">{{data.msgTrue}}</h4>
            {% endif %}  
        </div>

        <div style="max-width: 600px; margin: 30px auto;" 
        class="col-12 d-flex justify-content-center" data-aos="fade-up">
            
            <a class="w-50 btn btn-simple" href="/convert">
                Clique aqui para voltar 
            </a>
        </div>
    </div>

    <script>
         //TEMPO DE MSG
        setTimeout(function () {
            document.getElementById("msg_valided").style.display = "none";
        }, 10000);
    </script>
{% endblock %}
