{% extends 'baseLogin.html' %}

{% block content %}
<div class="container d-flex justify-content-center" data-aos="fade-up">
  <div style="max-width: 600px;" class="row m-3 d-flex flex-column align-items-center" data-aos="fade-up">
      <div class="col-12 ">
          {% if data.msg %}
          <div id="msg_valided" class="text-center alert alert-success"
              role="alert">
              {{data.msg}}
          </div>
          {% endif %}

          {% if data.msgTrue %}
          <div id="msg_valided" class="text-center alert alert-success"
              role="alert">
              {{data.msgTrue}}
          </div>
          {% endif %}

          {% if data.msgFal %}
          <div  class="text-center alert alert-danger"
              role="alert">
              {{data.msgFal}}
          </div>
          {% endif %}


          <h1 class="text-center">Entrar</h1>
          <p class="fw-lighter text-center">Faça o login para liberar
              a converção das suas Copy em sua VSL, facilitando a
              crição do seu video polpando tempo.</p>
      </div>

      <div class="col-12 text-center">
          <form action="/login" method="POST" class="needs-validation "
              novalidate>

              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <div id="msg_valided" class="alert alert-danger"
                  role="alert">
                  {{ message }}
              </div>
              {% endfor %}
              {% endif %}
              {% endwith %}

              <input
                  type="text"
                  name=usuario
                  id="login"
                  class="form-control mb-1 minW150 fs16px"
                  placeholder="Login"
                  required
                  autofocus
              >
              <div class="invalid-feedback text-start">
                  Por favor, digite seu login.
              </div>

              <input
                  type="password"
                  name=senha
                  id="senha"
                  class="form-control minW150 fs16px"
                  placeholder="Senha"
                  required
              >
              <div class="invalid-feedback text-start">
                  Por favor, digite sua senha.
              </div>
              
              <!-- Resolução para PC alterando tamanho do botão -->
              <div class="d-flex flex-column align-items-center ">
                  <button
                      class="w-50 btn btn-outline mt-2 d-none
                      d-sm-block d-md-block text-center"
                      type="submit">
                      Entrar
                  </button>
                  <button                              
                      class="w-50 btn btn mt-2 btn-simple d-none
                      d-sm-block d-md-block"
                      onclick="window.location.href= '/register'">
                      Cadastre-se
                  </button>
              </div>

              <!-- Resolução para Mobile alterando tamanho do botão -->
              <button
                  class="w-75 minW110 btn btn-outline mt-2 d-sm-none d-md-none
                  "
                  type="submit">
                  Entrar
              </button>

              <button
                  class="w-75 minW110 btn btn mt-2 btn-simple d-sm-none
                  d-md-none "
                  onclick="window.location.href= '/register'">
                  Cadastre-se

              </button>


              <div class="col-12">
                  <a href="/reset">Esqueci minha senha</a>
              </div>
          </form>
      </div>
  </div>
</div>
{% endblock %}